In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('netflix_titles.csv')

In [ ]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
import requests
from io import StringIO
url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0 "}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
df = pd.read_csv(data)

In [ ]:
df.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [ ]:
# pd.read_csv('movie_titles_metadata.tsv',sep = '\t')
# so thats how we can use the sep parameter to get the tsv files read

In [ ]:
# we can use name = [sjdlk,df,as,df,dsg,dsf] to give the column names add it after sep

In [ ]:
#index_col = 'assign any col ' and it will represent the index of the data

In [ ]:
#header = assign any index of col and the data will start from that col

In [ ]:
#use_cols = ['sdkfasdf','sdjadf','denger']  we can give which cols we want

In [ ]:
#SQUEEZE param ---- used if one col is needed
# then we can use use_cols = ['emply_name'],Squeeze = True

In [ ]:
#skip rows/nrows
# we can pass skiprows = [0,1] || nrow = 100
# we can also use fucntion to skip rows

In [ ]:
# ENCODING PARAMETERS ----  pd.read_csv('',encoding='Latin-1'),
# if the csv file is encoded by this we can read it

In [ ]:
# skip bad lines ----- by using error bad lines = False  means
# if their are rows of data which conatain more cols than the other rows of the actual data
# then we have to skip them by using this

In [ ]:
# dtype parameter ----- dtype = {'emp_name':object}
# pass on the col name which data type is to be change and to which dataype

In [ ]:
# Handling Dates ---- parse_dates = ['col_name']

In [ ]:
# Converters ---- if we want to convert royal challenger bangalore in the team name
# to RCB then
# def rename(name):
#   if name = 'Royal Challenger Bangalore':
#     return 'RCB'
#   else:
#     return name

# converters = {'team':rename}
# that how we can convert each data to short form

In [ ]:
# na-values parameter ---- if there are missing values which are repsrented by
# - , _ or other than NaN then
# use na_values = ['-','_'] and then it will replace all of them by NaN

In [ ]:
# Loading a huge data in chunks
# dfs = pd.read_csv('filename',chunksize = 100)
# then we can get to know that the file is uploaded at 100 for the first then 100 and then 100 and so on
# for chunk in dfs:
#   print(chunk.shape)
#   print(chunk.head())
#   thats how we can load the data in chunks

In [8]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in /usr/local/lib/python3.10/dist-packages (2.2.9)

In [9]:
import mysql.connector

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)